version: '3.8'

services:
  nginx:
    image: nginx:1.27.5-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl:ro

    depends_on:
      - backend
      - frontend
    restart: always
    networks:
      - my_network

  frontend:
    image: 420606830898.dkr.ecr.ap-northeast-2.amazonaws.com/maum-agit-frontend:${GITHUB_SHA}
    ports:
      - "3000:3000"
    restart: always
    networks:
      - my_network
    env_file:
      - ./frontend/.env

  backend:
    image: 420606830898.dkr.ecr.ap-northeast-2.amazonaws.com/maum-agit-backend:${GITHUB_SHA}
    ports:
      - "3001:3001"
    restart: always
    depends_on:
      - database
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - my_network
    command: npm run start:prod
    env_file:
    - ./backend/.env

  database:
    image: mysql:8.0
    container_name: maum-agit_database
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - my_network

volumes:
  db_data:

networks:
  my_network:
    driver: bridge